:root {
    --header-color: #FFFFFF;
    --hero-color: #2F303A;
    --our-team-color: #f5f4fa;
}

body {
    background-color: var(--type-of-activity-color);
    font-size: 14px;
    font-family: Roboto, sans-serif;
    color: #212121;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
.link {
    color: #212121;
}

li {
    list-style: none;
}
.button {
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color:#2196F3;
    font-size: 16px;
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/*Оформлення шапки*/
header {
    background-color: var(--header-color);
    margin-bottom: 0;
}

.logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;   
}

.logotype {
    color: #2196F3;
}

.nav-link {
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
}

 .nav-link:hover, .contact-link:hover {
    color: #2196F3;
}
.contact-link {
        font-weight: 500;
        line-height: 1.4px;
        letter-spacing: 0.02em;
        color: #757575;
}

/*Герой*/
.hero {
    background-color: var(--hero-color);
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.44;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

/*Особливості*/
.peculiarity, .work {
    background-color:var(--header-color);
}
.peculiarity .title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.peculiarity .text {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

/*Чим ми займаємось?*/
.work .title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

/*Наша команда*/
.team {
    background-color: var(--our-team-color);
}
.team .title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.team .card {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team .sub-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}
.team .text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/*Підвал сайту*/
footer {
    background-color: var(--hero-color);
}
.studio {
    color:#FFFFFF;
}
.location {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/*Сторінка портфоліо*/
.btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.85;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    border: 0;
    cursor: pointer;
}

.btn:hover {
    color: #FFFFFF;
    background-color: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.page {
    background-color: #FFFFFF;

}
.page .title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.page .text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}





